{% extends "base.html" %}
{% load i18n %}
{% block title %}Sign In{% endblock %}

{% block main_cols %}col-md-6{% endblock %}

{% block meta_title %}Sign In{% endblock %}

{% block main %}
<div class="container">
    <div class="row">
        {% if request.user.is_authenticated %}
        <div class="col-xs-12 col-sm-6">
            <p>{% trans "You're already signed in. If you'd like to sign in as a different user, you'll need to sign out first." %}</p>
        </div>
        {% else %}
            {{ block.super }}

        <div class="col-xs-12">
            <h2 class="page-title"><a href="{% url 'oauth_request' %}"><span class="glyphicon glyphicon-log-in"></span> Sign In</a></h2>
        </div>

        {% endif %}
    </div>

</div>
{% endblock %}
