{% extends "base.html" %}
{% load pages_tags mezzanine_tags keyword_tags comment_tags hydroshare_tags %}
{% block title %}Full Text Search{% endblock %}
{% block main %}
    <input type="hidden" id="static-url" value="{{ STATIC_URL }}">
<div class="container" id="discover-main">
    <div class="row">
        <div class="col-sm-12">
            <h2 class="page-title">Full Text Search
                <small class="text-muted"><i>Public resources shared with the community.</i></small>
            </h2>
        </div>
        <div class="col-sm-12 col-xs-12">
            <div class="input-group">
              <input id="q" type="text" class="form-control " placeholder="Enter a search term (Lucene query syntax is supported) to search all text files in resources you have access to">
              <span class="input-group-btn">
                  <button id="fts-help-info" class="btn btn-info" data-toggle="popover"
                    data-placement="right">
                        <i class="glyphicon glyphicon-info-sign"></i>
                  </button>
                  <a id='search' class="btn btn-default"> <b><i class='fa fa-search'></i> Search</b> </a>
              </span>
            </div>
            <br>
        </div>

        <div class="col-sm-12 col-xs-12" id="items">
            <div class="tab-content">
                <div id="list-view" class="tab-pane fade in active">
                    <span id="discover-list-loading-spinner" class="discover-loading-icon icon-blue">
                          <i class="fa fa-spinner fa-spin fa-2x fa-fw"></i>
                    </span>
                    <br />

                    <table class="table-hover table-striped resource-custom-table" id="items-discovered">
                        <thead>
                            <tr>
                                <th>File Name</th>
                                <th>Resource Title</th>
                                <th>First Author</th>
                                <th>Date Created</th>
                                <th>Last Modified</th>
                                <th>Matching Score</th>
                            </tr>
                        </thead>

                        <tbody id="fts_result">
                        </tbody>
                    </table>

                    <h4 id='no_result' class="text-muted" hidden>Sorry, no results match those criteria. Please try broadening your search.</h4>

                    <br>
                    <div class="alert alert-info">
                        <strong>
                            <i class="glyphicon glyphicon-question-sign"></i> Not finding what you are looking for?
                        </strong>
                        <p>Private resources owned by you or shared with you by colleagues are searchable from
                            <strong><a href="/my-resources">My Resources</a></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block extra_css %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
{% endblock %}

{% block extra_js %}
    {{ block.super }}
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/fulltextsearch.js"></script>
{% endblock %}
